.paynment-card {
  width: 168px;
  height: 244px;
}

.paynment-card__image {
  width: 166px;
  height: 166px;
  background: linear-gradient(white, white) padding-box,
    var(--color-orange) border-box;
  border-radius: 5px;
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.paynment-card p {
  margin: 0;
}

.backstage {
  padding-top: 140px;
  padding-bottom: 180px;
}

.backstage .grid {
  grid-template-columns: 7fr 5fr;
}

.backstage__image {
  padding-right: 52px;
}

.backstage__image img {
  backdrop-filter: blur(2px);
}

.backstage__text {
  padding-left: 5px;
}

.backstage__text h2 {
  margin-bottom: 20px;
}

.backstage__text p:first-of-type {
  margin-bottom: 54px;
}

.backstage__text p.subtitle {
  margin-bottom: 30px;
}

.pets .container {
  position: relative;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 20px;
}

.left-arrow,
.right-arrow {
  position: absolute;
  top: 403px;
  width: 62px;
  height: 62px;
  background: var(--color-orange);
  border: none;
  border-radius: 50%;
}

.left-arrow img,
.right-arrow img {
  filter: invert(100%);
}

.left-arrow {
  left: -82px;
}

.right-arrow {
  right: -82px;
}

.pet-card {
  background: var(--border-orange);
  border-radius: 2px;
  border: 0.7px solid transparent;
}
