@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

:root {
  --color-green: #4b9200;
  --color-orange: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  --color-yellow: #ffee2e;
  --color-orange-grad: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  --color-pink-grad: linear-gradient(
    315.75deg,
    rgba(254, 189, 171, 0.74) 30.06%,
    rgba(243, 169, 248, 0.66) 50.74%,
    #e0d8f0 80.49%,
    #eaf7fe 127.9%,
    #eaf7fe 149.54%
  );
  --color-red: #d31414;
  --color-black-blue: #333b41;
  --color-gray: #767474;
  --color-gray-smoky: #ababab;
  --color-light-gray: #f1f3f2;
  --color-frosted-glass-white: rgba(253, 253, 255, 0.52);
  --border-orange: linear-gradient(white, white) padding-box,
    var(--color-orange) border-box;
  --border-pink: linear-gradient(
        var(--color-light-gray),
        var(--color-light-gray)
      )
      padding-box,
    var(--color-pink-grad) border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  width: 100%;
  color: var(--color-black-blue);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 1.875rem;
}

img {
  display: block;
  max-width: 100%;
}

h2 {
  font-weight: 400;
  font-size: 3rem;
  line-height: 120%;
}

h3 {
  font-size: 2.25rem;
  line-height: 130%;
}

.subtitle {
  font-size: 1.5rem;
  line-height: 120%;
}

button,
.btn-text,
a.btn {
  font-weight: 500;
  font-size: 1rem;
  line-height: 140%;
  text-transform: uppercase;
}

p {
  font-size: 1rem;
  line-height: 140%;
}

.small {
  font-weight: 300;
  font-size: 0.9375rem;
  line-height: 120%;
}

.btn {
  display: block;
  width: 18.625rem;
  height: 3.375rem;
  background: var(--color-orange);
  border-radius: 5px;
  border: none;
  position: relative;
  z-index: 1;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.btn::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #e47209;
  transition: opacity 0.3s linear;
  z-index: -1;
  opacity: 0;
  display: block;
  border-radius: inherit;
}

.btn:hover::before {
  opacity: 1;
}

.btn-rounded {
  border-radius: 25px;
}

button:hover,
button:active,
button:focus {
  cursor: pointer;
}

.btn:active::before,
.btn:focus::before {
  background: var(--color-green);
  opacity: 1;
}

.btn:disabled {
  cursor: default;
}

.btn:disabled:before {
  background: var(--color-gray);
  opacity: 1;
}

input {
  box-sizing: border-box;
}

input#email {
  padding: 10px;
  width: 14.25rem;
  height: 2.625rem;
  border-radius: 2px;
  background: linear-gradient(#111115, #111115) padding-box,
    var(--color-orange) border-box;
  color: #fff;
  margin-right: 0.625rem;
  border: 0.7px solid transparent;
}

input#email::placeholder {
  color: #bdbdbd;
  opacity: 1;
}

input#email:focus {
  outline: none;
  background: linear-gradient(#111115, #111115) padding-box,
    var(--color-green) border-box;
  border: 0.7px solid transparent;
}

input#email:invalid {
  outline: none;
  background: linear-gradient(#111115, #111115) padding-box,
    var(--color-red) border-box;
  border: 2px solid transparent;
}

input[type="submit"] {
  padding: 0.625rem 2.4375rem;
  width: 8.0625rem;
  height: 2.625rem;
  border-radius: 5px;
  transition: 0.3s linear all;
}

form:valid input[type="submit"] {
  background: var(--color-light-gray);
  border: 1px solid var(--color-black-blue);
}

input[type="submit"]:hover {
  cursor: pointer;
}

input[type="submit"]:active {
  color: var(--color-green);
  border-color: var(--color-green);
}

form:invalid input[type="submit"] {
  color: var(--color-red);
  border: 1px solid var(--color-red);
}

a.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  background: #000000;
  backdrop-filter: blur(2px);
  margin: 0;
  color: #ffffff;
  width: 100%;
  height: 5rem;
  font-size: 1rem;
}

header .container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}

.header-left {
  display: flex;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.logo {
  display: flex;
  width: 5.125rem;
  height: 3.25rem;
  border: 1px solid #fff;
  border-radius: 2px;
  padding: 0.221875rem 0.296875rem;
  box-sizing: border-box;
  margin-right: 3.9375rem;
  color: #ffffff;
}

h1,
footer .logo p {
  position: relative;
  margin: 0;
  font-weight: 400;
  font-size: 1.1875rem;
  line-height: 120%;
  text-align: center;
  justify-content: center;
}

.logo img {
  position: absolute;
  bottom: 0;
  left: 0.3125rem;
}

nav ul {
  display: flex;
  list-style: none;
}

header .nav-item:not(:last-child) {
  margin-right: 3.625rem;
}

.nav-link,
.header-right a {
  transition: 0.3s ease all;
}

.nav-link:hover,
.header-right a:hover {
  color: #f9804b;
  cursor: pointer;
}

.nav-link.active {
  color: #f9804b;
  cursor: default;
}

/* FOOTER */
footer {
  z-index: 2;
  background: #111115;
  padding-top: 2.5rem;
  padding-bottom: 3.125rem;
  color: #ffffff;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.socials-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.social-links__link a {
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

.social-links__link:hover a {
  color: var(--color-green);
}

.social-links__link img {
  margin-right: 0.75rem;
  background: rgba(196, 196, 196, 0.5);
  border-radius: 50%;
  transition: all 0.3s ease;
}

.social-links__link:hover img {
  background: var(--color-green);
  border-radius: 50%;
}

.span-4 {
  grid-column: span 4;
}

footer .subtitle {
  color: #ffffff;
  margin-bottom: 0.875rem;
}

.donate {
  margin-top: 2.25rem;
  margin-bottom: 2.75rem;
}

.footer-nav,
footer .designed-by {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.footer-nav nav li:not(:last-child) {
  margin-right: 3.625rem;
}

footer .designed-by p {
  line-height: 130%;
  font-weight: 100;
}

footer .designed-by p:first-child {
  margin-bottom: 0.625rem;
}
